<% provide(:title, "承認済一覧") %>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1>承認済の出張旅費申請</h1>
    <div class="universal">
      <h3>承認済は<%= @approved.count %>件</h3>
      <table class="table table-striped">
        <%= render 'shared/trip_statements_header' %>
        <%= render :partial => "shared/trip_statements_table", :collection => @approved, :as => "trip_statement" %>
      </table>
      <%= paginate @approved %>
    </div>
  </div>
</div>