<% provide(:title, "否認申請一覧") %>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1>否認した出張旅費申請</h1>
    <div class="universal">
      <h3>否認した申請は<%= @denied_statements.count %>件</h3>
      <table class="table table-striped">
        <%= render 'shared/trip_statements_header' %>
        <%= render :partial => "shared/trip_statements_table", :collection => @denied_statements, :as => "trip_statement" %>
      <table>
    </div>
  </div>
</div>