<% provide(:title, "承認一覧") %>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="universal">
      <h1>承認待ちの出張旅費申請</h1>
      <h3>承認待ちは<%= @not_approved.count %>件</h3>
      <table class="table table-striped">
        <%= render 'shared/trip_statements_header' %>
        <%= render :partial => "shared/trip_statements_table", :collection => @not_approved, :as => "trip_statement" %>
      </table>
      <%= paginate @not_approved %>
    </div>
  </div>
</div>
