<h1>承認待ちの出張旅費申請</h1>
<% if @not_approved.any? %>
  <h3>承認待ちは<%= @not_approved.count %>件</h3>
  <%= render @not_approved %>
<% end %>

<h1>承認済の出張旅費申請</h1>
<% if @approved.any? %>
  <h3>承認済は<%= @approved.count %>件</h3>
  <%= render @approved %>
<% end %>