<% if @created_statements.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>出張日</th>
        <th>出張理由</th>
        <th>出張先</th>
      </tr>
    </thead>
    <tbody>
      <% @created_statements.each do |trip_statement| %>
        <tr>
          <td><%= l trip_statement.start_at, format: :short %></td>
          <td><%= trip_statement.purpose %></td>
          <td><%= trip_statement.distination %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>該当する申請はありません。</p>
<% end %>