<li id="trip_statement-<%= trip_statement.id %>">
  <%# <span class="user"><%= link_to trip_statement.user.name, trip_statement.user %></span>
  <span class="content"><%= trip_statement.distination %></span>
  <span class="content"><%= trip_statement.purpose %></span>
</li>