<tr>
  <td><%= link_to trip_statement.start, trip_statement_path(trip_statement.id) %></td>
  <td><%= trip_statement.purpose %></td>
  <td><%= trip_statement.distination %></td>
  <td><%= trip_statement.approved %></td>
</tr>