<% provide(:title, "申請実績") %>
<h1><%= @user.name %>の申請実績</h1>
<div class="universal">
  <h3>旅費申請<%= @approved_statements.count %>件</h3>
  <% if @approved_statements.any? %>
    <table class="table table-striped">
      <%= render 'shared/trip_statements_light_header' %>
      <tbody>
        <%= render :partial => "shared/trip_statements_light_table", :collection => @approved_statements, :as => "trip_statement" %>
      </tbody>
    </table>
  <% else %>
    <p>該当する申請はありません。</p>
  <% end %>
</div>