<% provide(:title, '返戻一覧') %>
<h1>差し戻された出張申請</h1>
<div class='universal'>
  <h3>旅費申請<%= @denied_statements.count %>件</h3>
  <% if @denied_statements.any? %>
    <table class='table table-striped'>
      <%= render 'shared/trip_statements_header' %>
      <%= render :partial => 'shared/trip_statements_table', :collection => @denied_statements, :as => 'trip_statement' %>
    </table>
    <%= paginate @denied_statements %>
  <% else %>
    <p>該当する申請はありません。</p>
  <% end %>
  </div>