<% provide(:title, "出張旅費申請一覧") %>
<h1><%= @user.name %>が申請した旅費</h1>
<h3>旅費申請<%= @user.trip_statements.count %>件</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>出張日</th>
      <th>出張理由</th>
      <th>出張先</th>
      <th>承認ステータス</th>
      <th>詳細</th>
      <th>編集・削除</th>
    </tr>
  </thead>
  <tbody>
    <%= render @trip_statements %>
  </tbody>
</table>