<footer>
  <ul>
    <li><%= link_to "RhiHi", root_path %></li>
    <li><%= link_to "About", home_about_path %></li>
    <li><%= link_to "Help", home_help_path %></li>
    <li><%= link_to "Search", 'https://www.google.com/?hl=ja' %></li>
  </ul>
</footer>